body {
    background:
        url("../Images/john_wooden.jpg")
        center center / 100%
        no-repeat
        fixed;
}

#logoSect {
    text-align: left;
}

#logoImg {
    width: 25%;
    height: 25%;
    border-radius: 25px;
    padding: 10px 10px;
    background-color: #FFCC66;
}

#signOutMsg {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    border: 2px solid gold;
    border-radius: 25px;
    padding: 10px 10px;
    background-color: white;
}

#uclaQuote {
    text-align: right;
    font-size: 40px;
    font-family: serif, "Comic Sans MS";
    font-style: italic;
    color: #0099FF;
    font-weight: bold;
}